
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

	<!-- CSS Link Must Contain "rel" -->
	<link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<nav>
	<a href="/">/</a>
	<a href="/home">Home</a>
	<a href="/h">H</a>
</nav>
